---

---

<div class="relative w-full max-w-[500px] mx-auto">
  <img
    src="/grid.png"
    alt="Hatch House Amenities"
    class="w-full h-auto drop-shadow-2xl"
    fetchpriority="high"
    loading="eager"
  />
  <div class="absolute inset-0 pointer-events-none z-10 bg-linear-to-b from-secondary via-transparent to-secondary opacity-90"/>
</div>
