---
import Button from "./Button.astro"
---

<header class="flex justify-between items-center px-4 py-4">
  <div class="flex gap-2.5">
    <img src="/favicon.svg"/> 
    <img src="/hatchText.svg"/>
  </div>
  <div class="flex md:hidden">
    <Button text="Contact Now" variant="primary" href="#contact" class="text-[14px]!" target="_self"/>
  </div>

  <div class="hidden md:flex items-center gap-[70px]">
    <Button text="Amenities" variant="ghost" href="#amenities" target="_self" />
    <Button text="Pricing" variant="ghost" href="#pricing" target="_self" />
    <Button text="Contact Now" variant="primary" href="#contact" target="_self" />
  </div>
</header>